services:
  mapstack:
    build: ./docker/main
    volumes:
      # DEV
      - ./docker/main/src:/app/src
      - ./docker/main/node_modules:/app/node_modules

  photon:
    build:
      context: "."
      dockerfile: ./docker/photon/Dockerfile
    volumes:
      - ./var/photon:/app/photon_data
      # DEV
      - ./docker/photon/src:/app/src
      - ./docker/photon/node_modules:/app/node_modules
      - ./docker/photon/.env:/app/.env
      - ./docker/shared:/app/shared
    environment:
      MANAGED: false
      COUNTRY: "is"

  versatiles:
    build:
      context: "."
      dockerfile: ./docker/versatiles/Dockerfile
    volumes:
      - ./var/versatiles:/app/versatiles_data
      # DEV
      - ./docker/versatiles/src:/app/src
      - ./docker/versatiles/node_modules:/app/node_modules
      - ./docker/versatiles/.env:/app/.env
      - ./docker/shared:/app/shared
    environment:
      MANAGED: false
      BBOX: "13.091,52.334,13.74,52.676"

  graphhopper:
    build:
      context: "."
      dockerfile: ./docker/graphhopper/Dockerfile
    volumes:
      - ./var/graphhopper:/app/graphhopper_data
      # DEV
      - ./docker/graphhopper/src:/app/src
      - ./docker/graphhopper/node_modules:/app/node_modules
      - ./docker/graphhopper/.env:/app/.env
      - ./docker/shared:/app/shared
    environment:
      MANAGED: false
      REGION: "europe/iceland-latest"

  valkey:
    image: valkey/valkey:9
